.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node circle:hover {
  fill: #005eb6;
  stroke: steelblue;
  stroke-width: 3px;
}

.node text {
  font: 1.2em sans-serif;
}






.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}



#tree{
  width: 600px;
  background: aliceblue;

}


